* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.body-container {
    padding-top: 0px;
    height: 100%;
    margin: 0;
    line-height: 1;
    color: #333;
    background-color: white;
    display: block;
}
.header-container {
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: center;
    background-color: white;
}
.header-section {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    position: relative;
}
.icon-container {
    display: flex;
    justify-content:sp;
}
.font-icon {
    display: flex;
    justify-content: space-around;
    left: 10px;
    position: absolute;
}
.icon {
    cursor: pointer;
    padding: 8px 9px;
}
.space-cosmos {
    text-decoration: none;
    font-size: 14.25px;
    font-family: helvetica,arial,sans-serif;
    font-weight: 700;
    padding: 8px 9px;
    text-transform: uppercase;
    letter-spacing: 0.7px;
    line-height: 19px;
    left: 100px;
    position: absolute;
}
.space-cosmos a{
    text-decoration: none;
    color: black;
}
.space-cosmos a:hover{
    text-decoration: underline;
}
.logo {
    font-family: helvetica,arial,sans-serif;
    font-weight: 700;
    padding: 8px 9px;
    margin-left: 145px;
}
.logo a{
    text-decoration: none;
    color: black;
}
.nav {
    display: flex;
    justify-content: space-around;
    padding: 8px 9px;
}
.btn {
    display: inline-block;
    font-size: 11px;
    border-radius: 3px;
    border: 1px solid rgb(50, 104, 145);
    background-color: rgb(86, 123, 149);
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 700;
    letter-spacing: 0.05em;
    line-height: 11px;
    padding: 11px 12px 8px;
    margin-right: 7px;
}
.btn:hover {
    background-color:  rgb(50, 104, 145);
    cursor: pointer;
}
.page-heading {
    padding: 80px;
    color: #121212;
    font-family: georgia,'times new roman',times,serif;
    font-weight: 700;
    font-style: italic;
    font-size: 1.9375rem;
    line-height: 2.25rem;
    margin: 0 20px 1rem;
    position: relative;
    width: calc(100% - 40px);
    max-width: 600px;
    margin-left: 20px;
    margin-right: 20px;
}
.article-main {
    margin: 0 auto;
    width:50%;
}

.article-main img {
    width: 100%;
    vertical-align: top;
    height: auto;
}
.article-main-image-caption {
    color: #666;
    font-family: georgia,'times new roman',times,serif;
    margin: 10px 20px 0;
    text-align: left;
}
.article-main-image-caption-copyright {
    display: inline;
    color: #888;
    font-family: georgia,'times new roman',times,serif;
    line-height: 1.125rem;
    font-size: 11px;
}
.article-author {
    margin-bottom: 20px;
    color: #121212;
    display: flex;
}
.article-author1 {
    display: flex;
    flex-direction: column;
}
.author-name {
    margin: 20px 10px;
    width: 80%;
}
.author-entries{
display: flex;
justify-content: space-between;
list-style: none;
}
.author-social-icons{
    list-style: none;
    margin: 0px;
    padding: 0px;
    display: flex;
}
.framed {
    width: 80%;
    height: auto;
}